    /* Styles généraux */
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #D9D9D9;
        margin: 0;
        padding: 0;
      }
      
      .container {
        max-width: 800px;
        margin: 20px auto;
        background-color: #f1ede484;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
      }
      
      h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
      }
      
      /* Styles pour le formulaire */
      form {
        background-color: #F1EDE4;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
      }
      form label {
        display: block;
        margin-bottom: 8px;
      }
      form .input-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      form .input-group > div {
        width: calc(50% - 5px); /* Divise l'espace disponible en deux avec un petit espace entre */
      }
      form input[type="text"],
      form input[type="email"],
      form input[type="password"],
      form input[type="tel"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        box-sizing: border-box;
      }
      form button[type="submit"] {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border: none;
        background-color: #93C6FF;
        color: white;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
        transition: 0.3s;
      }
      form button[type="submit"]:hover {
        background-color: #355274;
      }
      
      /* Styles pour l'historique des commandes */
      .order-history {
        margin-top: 30px;
      }
      .order-history .order-item {
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
      }
      .order-history .order-item .order-info {
        font-size: 14px;
        color: #555;
      }
      
      .message {
        text-align: center;
        margin-bottom: 10px;
        padding: 10px;
        background-color: #f2dede;
        color: #a94442;
        border: 1px solid #ebccd1;
        border-radius: 4px;
      }